.primero{
	background:linear-gradient( red, gold);
}
.segundo{
	color: white;
	background:linear-gradient(blue, red);
}
.tercero{
	background:linear-gradient(blue, white, blue);
}
.cuarto{
	color: white;
	background:linear-gradient( black, white)
}
.uno:visiter{
	text-decoration:  none;

}
.primero{
		position: relative;
	display: inline-block;
	text-align: center;
}
.oro{
		position: absolute;
	top: 10%;
	left: 15%;
	transform: translate(-50%, -50%);
	color: black;
}
.champions{
	position: absolute;
	top: 35%;
	left: 15%;
	transform: translate(-50%, -50%);
	color: black;
}
.europa{
	position: absolute;
	top: 35%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: black;
}



.abajo{
	position: relative;
	display: inline-block;
	text-align: center;
}
.oroparis{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}
.lige{
	position: absolute;
	top: 25%;
	left: 40%;
	transform: translate(-50%, -50%);
	color: black;
}
.supercopa{
	position: absolute;
	top: 25%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: black;
}